:root {
    --black: #111;
    --white: #ddd;
    --grey: #666;
    --orange: #e60;
}


body {
    background: var(--black);
    color: var(--white);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input {
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--white);
    padding: 3px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

button {
    background-color: var(--grey);
    color: var(--white);
    border: 2px solid var(--white);
    padding: .3em;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

label {
    padding: .3em;
}

button:hover {
    border: 2px solid var(--orange);
}

a {
    color: var(--orange);
}

textarea {
    background: var(--black);
    color: var(--white);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid var(--white);
    box-sizing: border-box;
    padding: .3em;
    width: 100%;
    min-height: auto;
    height: 10em;
}

.attr {
    background: var(--grey);
    margin: 10px;
    padding: 10px;   
}

.attrsub {
    width: 100%;
}

label.attr {
    font-weight: bold;
    text-align: center;
}

.attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.attribfield {
    width: 100%;
    box-sizing: border-box;    
}

.skillline {
    display: flex;
    flex-direction: row;
}

.skill {
    background: var(--grey);
    padding: 10px;
    margin: 5px;
}

button.skill {
    width: 5em;
}

.userbar {
    width: 100%;
    text-align: right;
}

.container {
    background: var(--grey);
    padding: 10px;
    margin: 15px;
    border: 2px solid var(--grey);
}

.container:hover {
    border: 2px solid var(--orange);
}

.line {
    display: flex;
    flex-direction: row;
}

a.charname{
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
}

a.charname:hover{
    color: var(--orange);
}



.traittitle {
    margin: 0px 10px;
    font-weight: bold;
}



input.traitname {
    width:100%;
}

a.traitedit {
    color: var(--white);
    text-decoration: none;
}

a.traitedit:hover {
    color: var(--orange);
    text-decoration: none;
}