:root {
    --black: #111;
    --white: #ddd;
    --grey: #666;
    --orange: #e60;
}


body {
    background: var(--black);
    color: var(--white);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input {
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--white);
    padding: 3px;
    text-align: center;
}

button {
    background-color: var(--grey);
    color: var(--white);
    border: 2px solid var(--white);
    padding: 3px;
    text-align: center;
}

button:hover {
    border: 2px solid var(--orange);
}

a {
    color: var(--orange);
}

.attr {
    background: var(--grey);
    margin: 10px;
    padding: 10px;   
}

.attrsub {
    width: 100%;
}

label.attr {
    font-weight: bold;
    text-align: center;
}

.attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}